.gallery-container {
    margin: 2% 5% 0 5%;
}

.gallery-images{
    flex-wrap: wrap;
    margin: auto;
}

.small-image{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 0 5px 5px 0;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}